
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body style="font: tahoma">
    <div class="navbar">
        <div style="background-color: #cacaca; padding:10px; box-shadow: 0px 1px 2px 2px #cacaca;">
            <div><span style="font: 600 15px; padding: 20px; color: deepskyblue">My App - Default Layout</span></div>
            <div>
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li style="display: inline; margin-right: 10px;">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li style="display: inline; margin-right: 10px;">
                        <a href="@Url.Action("About", "Home")">About</a>
                    </li>
                    <li style="display: inline; margin-right: 10px;">
                        <a href="@Url.Action("Friends", "Home")">Friends</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div style="border: dotted 1px #cacaca; padding: 20px; margin: 20px;">
        @RenderBody()
    </div>
</body>
</html>
